

#example thead th {
  font-size: 0.80rem;

}
#example{
  height:85vh;
  width: 100vw;
}
#example tbody td {
  font-size: 0.80rem;
  min-width: 150px;

}
.paginate_button 
{
  height: 200px;
  width: 200px !important;
  outline: 1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
